# Dépendances Node.js (frontend + backend)
**/node_modules/

# Variables d'environnement
.env
**/.env

# Ignorer les variantes d'environnement
.env.local
.env.production
.env.development

# Autoriser les fichiers modèles
!.env.example
!**/.env.example

# Build frontend
**/dist/

# Logs
*.log

# Éditeurs
.vscode/

# Fichiers système
Thumbs.db
.DS_Store

# Fichiers temporaires
*.tmp
*.temp